body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

.header{
  position: absolute;
  left: 0;
  top: 0;
  height: 75px;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  padding-left: 25px;
}

.sidebar {
  position: absolute;
  left: 0;
  width: 360px;
  top: 75px;
  bottom: 0;
  padding: 25px;
  overflow: auto;
  background-color: #eeeeee;

}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 75px;
}

.btnLine{
  position: absolute;
  bottom: 20px;
}

.btn{
  padding: 5px;
  width: 75px;
  /* margin-left: 50px;
  margin-right: 50px; */
}

#nxt{
  margin-left: 35px;
}

#bck {
  margin-left: 50px;
  margin-right: 35px;
}
